* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(248, 246, 244);
}
/* NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.title {
  font-size: 2rem;
  margin: 0.5rem;
  color: rgb(253, 165, 2);
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
  display: block;
}
.page-content {
  position: absolute;
  z-index: -1;
}

/* Search Box */
.search-container {
  padding: 5px;
}

.search-input {
  width: 100%;
  padding: 12px 24px;
  transition: transform 250ms ease-in-out;
  font-size: 1rem;
  line-height: 18px;
  background-image: url("./Images/search-icon.png");
  color: rgb(253, 165, 2);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 97% center;
  border-radius: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search-input::placeholder {
  color: rgb(253, 165, 2);
  letter-spacing: 1.5px;
}

.search-input:hover,
.search-input:focus {
  outline: 0;
  border: 1px solid rgb(253, 165, 2);
  border-radius: 30px;
  background-position: 97% center;
}

/* Product List dropdown */
.search-items {
  margin: 0;
  padding-left: 29%;
  padding-right: 23%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.card {
  background-color: white;
  width: 100%;
}

/* each  product */
.card div a {
  color: black;
  text-decoration: none;
}

.card:hover {
  background-color: rgb(241, 227, 199);
}

input:focus {
  outline-width: 0;
}

.content {
  width: 100%;
  overflow: hidden;
}

.content img {
  padding: 7px;
  margin-right: 5px;
  width: 100px;
  float: left;
  border: 0;
}

.content p {
  margin-left: 10px;
  display: block;
  font-size: 1rem;
}
.content span {
  color: gray;
}
